.promo {
  padding-bottom: 6px;
  order: 1;
  width: 100%;

  @media (min-width: $screen-md) {
    padding: 2.5rem 1rem;
  }

  &__inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: flex-start;
    grid-gap: 6px;
    grid-template:
      'promo-logo promo-logo'
      'promo-slogan promo-slogan'
      'promo-photo-family-outside promo-photo-family-outside'
      'promo-photo-college promo-photo-college'
      'promo-photo-coffee promo-photo-retired'
       / 1fr 1fr;

    @media (min-width: $screen-sm) {
      grid-gap: 6px;
      grid-template-columns: 0.17fr 0.1fr 0.22fr 0.21fr 0.30fr;
      grid-template-rows: 200px 183px 243px;
      grid-template-areas:
        'promo-logo promo-logo promo-logo promo-photo-family-outside promo-photo-family-outside'
        'promo-photo-coffee promo-photo-coffee promo-shape-secondary promo-slogan promo-slogan'
        'promo-photo-coffee promo-photo-coffee promo-photo-college promo-photo-college promo-photo-retired';
      min-height: 650px;
    }
  }

  &__slogan {
    grid-area: promo-slogan;
    grid-row: 3 / 4;
    background-color: rgba($bg-color--default, 0.9);
    min-height: 115px;
    z-index: 2;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 1.438rem;
    line-height: 1.688rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    will-change: opacity;
    transition: opacity 1s cubic-bezier(.33,.91,.55,1) 0s;

    &.is-hide {
      opacity: 0;
    }

    @media (min-width: $screen-sm) {
      grid-row: 2 / 3;
      grid-column: 3 / 6;
      height: 100%;
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      font-size: 2.25rem;
      line-height: 2.688rem;
    }

    span {
      display: block;
      position: relative;
      margin-bottom: 0.25rem;

      &:nth-child(1) {
        width: 50%;
        text-align: right;

        @media (min-width: $screen-lg) {
          width: 70%;
        }
      }

      &:nth-child(2) {
        width: 70%;
        margin-left: auto;

        @media (min-width: $screen-lg) {
          width: 45%;
        }
      }

      &:nth-child(3) {
        width: 40%;
        margin-left: auto;

        @media (min-width: $screen-lg) {
          width: 32.5%;
        }
      }

      &:not(:last-child) {

        &::after {
          position: absolute;
          content: '';
          background-color: currentColor;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -0.125rem;
        }
      }
    }
  }

  &__logo {
    grid-area: promo-logo;
    min-height: 126px;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: $screen-sm) {
      height: 100%;
      justify-content: flex-start;
    }

    .logo {

      @media (min-width: $screen-sm) {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }

    svg {
      width: 100%;
      max-height: 56px;

      @media (min-width: $screen-sm) {
        max-width: 488px;
        max-height: 198px;
      }
    }
  }

  &__photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      will-change: transform;
      transform: translate3d(0,0,0);
      transition: transform 1s cubic-bezier(.33,.91,.55,1) 0s;
    }

    .layer {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      will-change: transform;
      transition: transform 1s cubic-bezier(.33,.91,.55,1) 0s;
    }

    &--rest {
      grid-area: promo-photo-family-outside;
      grid-row: 2 / 4;

      @media (min-width: $screen-sm) {
        grid-row: 1 / 3;
      }

      .layer {
        transform: translate3d(100%,0,0);
      }

      &.is-hide {

        > img {
          transform: translate3d(-25%,0,0);
        }

        .layer {
          transform: translate3d(0,0,0);
        }
      }
    }

    &--college {
      grid-area: promo-photo-college;

      .layer {
        transform: translate3d(0,100%,0);
      }

      &.is-hide {

        > img {
          transform: translate3d(0,-25%,0);
        }

        .layer {
          transform: translate3d(0,0,0);
        }
      }
    }

    &--coffee {
      grid-area: promo-photo-coffee;

      .layer {
        transform: translate3d(-100%,0,0);
      }

      &.is-hide {

        > img {
          transform: translate3d(25%,0,0);
        }

        .layer {
          transform: translate3d(0,0,0);
        }
      }
    }

    &--retired {
      grid-area: promo-photo-retired;

      .layer {
        transform: translate3d(100%,0,0);
      }

      &.is-hide {

        > img {
          transform: translate3d(-25%,0,0);
        }

        .layer {
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  &__shape {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;

    @media (min-width: $screen-sm) {
      display: block;
    }

    .layer {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      will-change: transform;
      transition: transform 1s cubic-bezier(.33,.91,.55,1) 0s;
    }

    // &--main {
    //   grid-area: promo-shape-main;
    //   background-color: $primary-color;

    //   .layer {
    //     transform: translate3d(0,-100%,0);
    //     background-color: #fff;
    //   }

    //   &.is-hide {

    //     .layer {
    //       transform: translate3d(0,0,0);
    //     }
    //   }
    // }

    &--secondary {
      grid-area: promo-shape-secondary;
      background-color: rgba($primary-color, 0.3);
      opacity: 1;
      will-change: opacity;
      transition: opacity 1s cubic-bezier(.33,.91,.55,1) 0s;

      &.is-hide {
        opacity: 0;
      }
    }
  }
}