.briefly {
  order: 2;
  background-color: $primary-color;
  color: $text-color--lightest;

  &__title {
    color: currentColor;
  }

  &__inner {
    font-weight: map-get($bodytype, light);
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 1.5rem;
    }

    p {
      max-width: 30em;
      margin-left: auto;
      margin-right: auto;
      letter-spacing: 0.05em;

      @media (min-width: $screen-sm) {
        max-width: 100%;
      }
    }
  }

  &__column {

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: auto;
      padding: 0 1rem;
    }
  }
}