.page-header {
  width: 100%;
  max-width: $screen-lg;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $screen-sm) {
    justify-content: flex-start;
  }
}