.contact-us {
  order: 8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg-contact-us.jpg);
  color: $text-color--lightest;

  &__title {
    color: currentColor;
  }

  &__inner {
    max-width: 785px;
    margin-left: auto;
    margin-right: auto;
  }

  &__form {

    @media (min-width: $screen-sm) {
      display: grid;
      align-items: flex-start;
      grid-gap: 2rem;
      grid-template:
        'contact-us-name contact-us-e-mail'
        'contact-us-message contact-us-message'
        'contact-us-action contact-us-action'
         / 1fr 1fr;

      .field-text {
        margin-bottom: 0;
      }
    }
  }

  &__name {
    grid-area: contact-us-name;
  }

  &__e-mail {
    grid-area: contact-us-e-mail;
  }

  &__message {
    grid-area: contact-us-message;
  }

  &__action {
    grid-area: contact-us-action;
  }
}