mixin contact-us

  .contact-us.section
    h2.contact-us__title.main-subtitle Contact us
    .contact-us__inner
      +form.contact-us__form
        .contact-us__name
          +field-text({
            attrs: {
              name: 'Name',
              placeholder: 'Name'
            }
          })
        .contact-us__e-mail
          +field-text({
            attrs: {
              name: 'E-mail',
              type: 'email',
              placeholder: 'E-mail'
            }
          })
        .contact-us__message
          +field-text({
            isTextarea: true,
            mods: '',
            attrs: {
              name: 'message',
              placeholder: 'Message',
            }
          })
        .contact-us__action
          +field-actions
            +btn('Submit')