.s-btn {
  position: relative;
  display: inline-block;
  background-color: $primary-color--variant;
  background-image: none;
  color: $text-color--lightest;
  margin: 0;
  padding: 1.375em 3.5em;
  border-radius: $border-radius;
  font-size: 0.875rem;
  font-weight: map-get($bodytype, bold);
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  min-width: 165px;
  box-shadow: 0 2px 0 #3d809c;

  &:hover,
  &:focus {
    background-color: #97cde3;
    box-shadow: 0 2px 0 #51abd0;
    outline: none;
  }

  &:active {
    box-shadow: 0 0 0 #51abd0;
    transform: translate3d(0,2px,0);
  }

  &:visited {}

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $text-color--lightest;
    background-color: #b8b8b8;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}