//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/promo/promo.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/date/date.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/external-link/external-link.pug
include ../blocks/briefly/briefly.pug
include ../blocks/section/section.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/financial-journey/financial-journey.pug
include ../blocks/contact-us/contact-us.pug
include ../blocks/financial-strategies/financial-strategies.pug
include ../blocks/affiliates/affiliates.pug
include ../blocks/map/map.pug
include ../blocks/contacts/contacts.pug
include ../blocks/promo-about/promo-about.pug
include ../blocks/services/services.pug
include ../blocks/work-with/work-with.pug
include ../blocks/advantages/advantages.pug
include ../blocks/about-us/about-us.pug
