mixin work-with

  .work-with
    .work-with__inner
      .work-with__desc
        p.
          Design Financial are a boutique Perth firm of hands-on, proactive and knowledgeable Financial Planners, Taxation and Super Fund Specialists, who take our role as your financial advisor seriously.
        p.
          Our team are driven by results. Your financial success is our team’s success.
        p.
          We work with clients at all stages of life to design a financial plan that creates financial freedom and security - so you can live your life the way you want.

      .work-with__who
        h3.work-with__subtitle We work with:
        ul.work-with__list
          li.work-with__item Small to Medium Business Owners
          li.work-with__item Time-poor Professionals
          li.work-with__item Young Families
          li.work-with__item Pre-Retirees
          li.work-with__item Retirees