.work-with {
  width: 100%;
  padding: 2rem 1rem;

  @media (min-width: $screen-xs) {
    padding: 2.5rem;
  }

  &__inner {
    width: 100%;
    max-width: 803px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__desc {
    font-weight: map-get($bodytype, light);
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      width: 53%;
      flex-basis: auto;
      padding-right: 2rem;
      margin-bottom: 0;

      p {

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__who {
    border: 1px solid $primary-color;
    color: $primary-color;
    padding: 1rem;
    font-weight: map-get($bodytype, light);
    font-size: 0.875rem;
    letter-spacing: 0.05em;

    @media (min-width: $screen-sm) {
      padding: 2rem;
      width: 47%;
      flex-basis: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__subtitle {
    @extend .work-with__desc;
    color: currentColor;
    line-height: 1.375rem;
  }

  &__item {
    position: relative;
    padding-left: 1.5rem;

    &::before {
      position: absolute;
      content: '';
      background-color: currentColor;
      width: 8px;
      height: 8px;
      top: 0.5rem;
      left: 0;
    }
  }
}