.main-subtitle {
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 2rem;

  @media (min-width: $screen-md) {
    font-size: 2.25rem;
  }
}