.services {
  width: 100%;

  @media (min-width: $screen-md) {
    padding-top: 4.6rem;
    padding-bottom: 4rem;
  }

  &__inner {
    width: 100%;
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin: 0;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      width: 33.333%;
      flex-basis: auto;
      padding: 0 1rem;
      margin-bottom: 0;
    }
  }

  &__cover {
    width: 100%;
    height: 225px;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      padding: 1rem;
    }

    @media (min-width: $screen-md) {
      padding: 0;
      margin-bottom: 2rem;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    width: 100%;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }

  &__term,
  &__desc {
    margin: 0;
    padding: 0 1rem;

    @media (min-width: $screen-md) {
      padding: 0;
    }
  }

  &__term {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: $primary-color;
    font-weight: map-get($bodytype, bold);

    @media (min-width: $screen-md) {
      margin-bottom: 1.7rem;
    }
  }

  &__desc {
    font-size: 0.875rem;
    font-weight: map-get($bodytype, light);

  }
}