mixin services

  .services
    .services__inner
      ul.services__list
        li.services__item
          .services__cover
            img(src='img/service-cover-1.jpg', alt='', width='367px', height='225px')
          .services__info
            dl
              dt.services__term Self Managed Super Fund Specialists
              dd.services__desc.
                Superannuation is the most tax-effective way to grow your wealth, so here at Design Financial, our authorised representatives (SMSF Specialist Advisers™) will empower you with the knowledge and strategies to use your super fund effectively.
        li.services__item
          .services__cover
            img(src='img/service-cover-2.jpg', alt='', width='367px', height='225px')
          .services__info
            dl
              dt.services__term Estate Planning
              dd.services__desc.
                We will advise you in the best ways to protect your Estate for your future and your family, guiding you through the creation of Wills, Powers of Attorney, Trusts and Guardianship.
        li.services__item
          .services__cover
            img(src='img/service-cover-3.jpg', alt='', width='367px', height='225px')
          .services__info
            dl
              dt.services__term Small to Medium Businesses
              dd.services__desc.
                Our financial planners specialise in working with small to medium business owners to develop and implement sophisticated business strategies which deliver financial results. Talk to us for assistance with efficient corporate structuring, asset ownership, succession planning and the minimisation of taxation and business risk.

