mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
    +logo(false, 'mod')
  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href=href)&attributes(attributes)
    block

