mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__top
      .page-footer__inner

        .page-footer__about
          .page-footer__logo
            +logo
              svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 135.7 55.1', width='112', height='45')
                path(fill='#1b75b3', d='M0 0h42.4v34.18H0z')
                path(fill='#005d7c', d='M42.5 0v11.1H.05V0z')
                path(fill='#51abd0', d='M1.7 11.1h9.8v23.09H1.7zM13.4 11.1h3.1v23.09h-3.1z')
                path(fill='#3a809a', d='M11.6 0v11.1H1.76V0zM16.5 0v11.1h-3.09V0z')
                path(fill='#51abd0', d='M17.7 11.1h1.5v23.09h-1.5z')
                path(fill='#3a809a', d='M19.2 0v11.1h-1.54V0z')
                path(d='M53.6 34.6c-6 0-9.9-4.1-9.9-10.2s4.1-10.3 9.7-10.3S63 18.4 63 25.2v.5H49.1c.1 3.3 1.7 5.1 4.5 5.1a3.9 3.9 0 0 0 4-2.8h5.1a9 9 0 0 1-9.1 6.6zM53.4 18c-2.4 0-4 1.6-4.3 4.3h8.5c-.3-2.4-1.5-4.3-4.2-4.3zM77.4 20.3c-.3-2-1.5-2.7-3.7-2.7s-3 .7-3 1.9 1.7 1.9 4.8 2.5 7.5 1.6 7.5 6-3.3 6.6-8.8 6.6-9-1.9-9.1-6.9h5c.2 2.3 1.7 3.2 4.2 3.2s3.5-.9 3.5-2.4-1.6-1.9-4.4-2.6-7.9-1.3-7.9-5.9 3.1-5.9 8.5-5.9 8.2 1.7 8.4 6.2zM91.6 11.8h-5.3V7.3h5.3zm0 22.2h-5.3V14.7h5.3zM130.3 34V22.7c0-2.4-.5-4.2-3.3-4.2s-4.2 2.3-4.2 5.1V34h-5.3V14.7h5.1v2.7a7.5 7.5 0 0 1 6.4-3.3c4.1 0 6.7 2.5 6.7 7V34zM104.4 34c-5.7 0-9.7-4.1-9.7-10a9.7 9.7 0 0 1 10.1-10.1c4.8 0 8.3 2.7 8.9 6.8v.7h-5.4v-.5c-.3-1.6-1.6-2.5-3.5-2.5s-4.6 2-4.6 5.6.6 5.6 4.7 5.6c2.1 0 3.6-1.1 3.9-2.9h-4.2v-4.1h9.3v11h-3.8l-.3-1.4a8 8 0 0 1-5.4 1.8zM35.4 34.2v-3a6.2 6.2 0 0 1-5.8 3c-5.4 0-8.8-4-8.8-10.3s3.3-10.1 8.5-10.1a6.9 6.9 0 0 1 5.9 2.9V0h5.3v34.2zM30.7 18c-2.8 0-4.5 2.2-4.5 5.9s1.7 6 4.5 6 4.7-2.2 4.7-6-1.8-5.9-4.7-5.9z', fill='#51abd0')
                path(fill='#1b75b3', d='M0 37.4h135.7v17.73H0z')
                path(d='M12.8 40.6v1.9h-4v2.6h3.8V47H8.8v4.9H6.5V40.6zM21 40.6h2.3v11.3H21zM37.5 48.3v-7.7h2.1v11.3H37L34.2 44v7.9h-2.1V40.6h2.6zM53.2 40.6l3 11.3h-2.3l-.6-2.4h-3l-.5 2.4h-2.3l2.9-11.3zm-.3 7l-1-5h-.1l-1.1 5zM69.5 48.3v-7.7h2.1v11.3H69L66.2 44v7.9h-2.1V40.6h2.6zM84.8 42.6a1.3 1.3 0 0 0-1.1-.5l-.7.2a1.6 1.6 0 0 0-.4.7 5.2 5.2 0 0 0-.2 1.4 11.5 11.5 0 0 0-.1 2 12.2 12.2 0 0 0 .1 2.1 3.5 3.5 0 0 0 .3 1.2.9.9 0 0 0 .4.6h1.2c.2 0 .3-.2.5-.4l.3-.8c0-.4.1-.9.1-1.5h2.3a8.8 8.8 0 0 1-.2 1.7 6.6 6.6 0 0 1-.5 1.5 2.4 2.4 0 0 1-1.1.9 4.8 4.8 0 0 1-1.8.4 5.6 5.6 0 0 1-2.1-.4 2.5 2.5 0 0 1-1.1-1.2 3.8 3.8 0 0 1-.5-1.9 16.4 16.4 0 0 1-.2-2.3 16.6 16.6 0 0 1 .2-2.4 4.1 4.1 0 0 1 .5-1.9 2.5 2.5 0 0 1 1.1-1.2 4.1 4.1 0 0 1 2.1-.4 3.6 3.6 0 0 1 1.9.4 2.4 2.4 0 0 1 1 1 2.9 2.9 0 0 1 .5 1.3c0 .5.1.9.1 1.3h-2.3a4.2 4.2 0 0 0-.3-1.8zM96 40.6h2.2v11.3H96zM112 40.6l3 11.3h-2.4l-.5-2.4h-3l-.5 2.4h-2.4l3-11.3zm-.3 7l-1.1-5-1.1 5zM122.9 40.6h2.3V50h4v1.9h-6.3z', fill='#fff')
          strong.page-footer__slogan
            | Provide clients with
            br
            | financial security

        ul.page-footer__contact-list
          li.page-footer__contact-item
            h3.page-footer__subtitle Address
            address.page-footer__address
              | Suite C14, Level 1
              br
              | 1 The Esplanade
              br
              | Mt Pleasant WA 6153
          li.page-footer__contact-item
            h3.page-footer__subtitle Phone
            a(href='tel:') 08 9364 8544
          li.page-footer__contact-item
            h3.page-footer__subtitle E-mail
            a(href='mailto:admin@designfinancial.com.au') admin@designfinancial.com.au

    .page-footer__bottom
      .page-footer__privacy
        ul.page-footer__privacy-list
          li.page-footer__privacy-item
            a(href='/').page-footer__privacy-link Privacy statement
          li.page-footer__privacy-item
            a(href='/').page-footer__privacy-link Product Disclosure
        .page-footer__copyright-info
          span.page-footer__copyright © 2012 Design Financial Group.
          span.page-footer__rights All rights reserved
          a(href='/').page-footer__policy privacy policy


