.page-footer {
  color: $text-color--lightest;

  &__top,
  &__bottom {
    padding: 1rem;
    font-weight: map-get($bodytype, light);
    font-size: 0.875rem;
    line-height: 1.375em;
  }

  &__top {
    background-color: $bg-color--darker;
    padding: 3rem 1rem;
    text-align: center;

    @media (min-width: $screen-xs) {
      padding: 4rem 2rem 2rem;
    }

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__inner {
    max-width: $screen-lg - 30px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__about {
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      flex-basis: auto;
      width: 30%;
      margin-bottom: 0;
    }
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__slogan {
    font-weight: inherit;
  }

  &__contact-list {
    margin: 0;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: auto;
    }
  }

  &__contact-item {

    @media (min-width: $screen-md) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
        padding-right: 5rem;
      }
    }

    a {
      color: $text-color--muted;
    }
  }

  &__address {
    color: $text-color--muted;
    margin: 0;
  }

  &__subtitle {
    color: currentColor;
    font-size: 1.125rem;
    line-height: 1.375em;
    font-weight: map-get($bodytype, bold);
  }

  &__bottom {
    background-color: $primary-color;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__privacy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__privacy-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  &__privacy-item {

    & + & {
      margin-left: 1rem;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 80%;
        background-color: $text-color--lightest;
        top: 10%;
        left: -0.5rem;
      }
    }
  }

  &__privacy-link {
    position: relative;
    display: inline-block;
    color: #7dbeff;
  }

  &__copyright-info {
    margin-top: 0.5rem;
  }

  &__copyright {
    display: block;
    text-align: center;

    @media (min-width: $screen-sm) {
      display: inline-block;
      text-align: left;
    }
  }

  &__policy {
    @extend .page-footer__privacy-link;
    margin-left: 0.75rem;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 80%;
      background-color: $text-color--lightest;
      top: 10%;
      left: -0.5rem;
    }
  }
}