mixin financial-strategies

  section.financial-strategies.section
    h2.financial-strategies__title Some of our proven financial strategies:
    .financial-strategies__inner
      ul.financial-strategies__list
        li.financial-strategies__item
          dl
            dt.financial-strategies__term Grow your wealth
            dd.financial-strategies__desc.
              Investing and Money-Management. Superannuation, Self Managed Super Funds, Investments; property, shares, fund managers, bonds, etc. Business Planning and Debt Reduction / Management.
        li.financial-strategies__item
          dl
            dt.financial-strategies__term Protect your wealth
            dd.financial-strategies__desc.
              Insurance and Prevention. Life, Total & Permanent Disablement Insurance, Trauma, Income Protection, Estate Planning including; Wills, Powers of Attorney and Guardianships.
        li.financial-strategies__item
          dl
            dt.financial-strategies__term Enjoy your wealth
            dd.financial-strategies__desc.
              Manage Savings Wisely. Accessing and managing retirement savings, ensuring lasting funds. Investment Planning.

