.financial-strategies {
  order: 4;

  &__title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $primary-color;
    font-weight: map-get($bodytype, bold);
    text-align: center;
  }

  &__inner {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-xs) {
      padding: 1rem;
    }

    @media (min-width: $screen-md) {
      width: 33.3333%;
      flex-basis: auto;
      padding: 2rem;
    }
  }

  &__term {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: $primary-color;
    font-weight: map-get($bodytype, bold);
    text-align: center;
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__desc {
    margin: 0;
    font-size: 0.875rem;
    font-weight: map-get($bodytype, light);
    position: relative;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;

    &::before {
      position: relative;
      content: '\2013';
      margin-right: 0.25rem;
    }
  }
}