.contacts {
  order: 7;

  @media (min-width: $screen-md) {
    padding: 3rem 1rem;
    order: 5;
  }

  @media (min-width: $screen-lg) {
    padding: 5rem 2rem;
  }

  &__inner {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__map {

    @media (min-width: $screen-md) {
      width: 50%;
      flex-basis: auto;
    }
  }

  &__info {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      width: 50%;
      flex-basis: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__list {
    margin: 0;
  }

  &__item {
    font-weight: map-get($bodytype, light);
    font-size: 1rem;
    line-height: 1.375em;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    a {
      color: currentColor;
    }
  }

  &__subtitle {
    font-weight: map-get($bodytype, bold);
    font-size: 1rem;
    line-height: 1.375em;
  }

  &__address {
    margin: 0;
  }
}