mixin advantages

  .advantages
    .advantages__inner
      ul.advantages__list
        li.advantages__item
          dl.advantages__item-info.advantages__item-info--results-driven
            dt.advantages__subtitle Results-driven
            dd.advantages__desc.
              High-income earner, successful business owner or first-time investor, Design Financial are dedicated to helping you achieve your personal financial goals. You get the benefit of having a team of Financial Planners, Taxation and Super Fund Specialists behind you, for skilled in-house support and trusted financial advice.
        li.advantages__item
          dl.advantages__item-info.advantages__item-info--real-advice
            dt.advantages__subtitle Real Advice
            dd.advantages__desc.
              Our professional advice is given based on years of experience, our industry knowledge and in consultation with trusted legislative lawyers and industry specialists. As a team, we allocate significant time, effort and resources to ensure we stay up to date with all legislative change affecting financial strategies. We don’t have links or agreements with any bank or financial service companies - yours is the only financial gain our advice is based on.
        li.advantages__item
          dl.advantages__item-info.advantages__item-info--journeying-together
            dt.advantages__subtitle Journeying together…
            dd.advantages__desc.
              Being a smaller firm, we are able to develop genuine and lasting relationships with our clients - many of whom we are able to work with through multiple stages of their financial journey. It is a privilege to watch families grow, businesses succeed and see the real-life benefits of a strategically-designed financial plan in action.