.advantages {
  width: 100%;

  @media (min-width: $screen-sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: $screen-md) {
    padding-top: 5.75rem;
    padding-bottom: 2.2rem;
  }

  &__inner {
    width: 100%;
    max-width: $screen-lg - 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin: 0;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {

    @media (min-width: $screen-md) {
      width: 33.3333%;
      flex-basis: auto;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 4rem;
      }

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
  }

  &__item-info {
    padding: 5rem 1rem 0;
    position: relative;

    @media (min-width: $screen-xs) {
      padding: 5rem 2rem 0;
    }

    @media (min-width: $screen-md) {
      padding: 5.4rem 1rem 0;
    }

    &::before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      top: 0;
      left: 1rem;

      @media (min-width: $screen-xs) {
        left: 2rem;
      }

      @media (min-width: $screen-sm) {
        left: 50%;
        transform: translate3d(-50%,0,0);
      }
    }

    &--results-driven {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65 59.2'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1' fill='%231b75b3'%3E%3Cpath d='M39 16.1c.4 1.9-.7 3.3-1.4 4.9s-.5 3.9 2.4 4.1c.9 0 1.9-.3 2.5.1 2.6 1.5 1.2 4.1 1.5 6.3s-.9 2.3-2.3 2.6l-4.9 1.2c.9 2.9 1.8 5.7 2.6 8.4l4.3-.9c1.4-2.2-1.2-4.1-.7-6.1 3.5-2.6 6.4-2.2 8.3 1.4 3.1 0 2.2-3.4 4.8-3.9l3.7 1.9v6.4l5.1 1.8v5.5c-1.8 1.1-4.8-1-5.9 2.2l2.2 4.4a10.1 10.1 0 0 0-1.8.9c-3.2 2.1-3.2 2.1-5.9-.3s-3.6-1.5-4.3.7-1.8 1.5-2.9 1.1a7.4 7.4 0 0 1-3.1-2.1c-.6-.9-.2-2 .6-3.1s.1-2.1.1-3.3c-5.6-.3-5.6-.3-6.3-5.1-3.1 2.6-3.2 2.5-6.5.5-1-.6-2.4-.5-3.6-.8L25.9 51h-8.8v-5.4c-2.4-1.5-4.2 0-5.9.9s-2.5.7-3.8-.5C3 41.9 3 41.9 7 37.1l-1.4-2.9C0 34 0 34 0 29.4s0-4.3 5.5-4.4L7 22.2c-.1-.3-.1-.7-.3-.9l-2.1-2.1a2.2 2.2 0 0 1-.1-3.1l.7-.7c4-4.3 4.6-4.4 9.2-.5l2.4-1.1V8.2c3.1-.2 6-.1 8.8-.1 1.1 2.5.6 5.5 3.2 7.1 6-4.4 3.5-4.3 9.2-.1zm-9 13.1a5.5 5.5 0 0 0-1.8-5.3 11 11 0 0 0-6.8-2.8c-2.6 0-4.4 1.5-6.1 3.2a6.8 6.8 0 0 0-2.1 5.5c.2 2 .7 4.3 2.7 5.8s3.6 2.5 6 2.5c5 0 8.1-3.2 8.1-8.9zm18 19.3c1.5 1.9 3.2 3.5 5.8 2.3s2.7-3.6 2.2-5-4-3.4-6.2-2.7-1.5 3.6-1.8 5.4z'/%3E%3Cpath d='M38 15.1c-.1-6.6-.2-5.6 6.1-6.3a20.8 20.8 0 0 0-.6-3.6c-.7-2.8-.8-2.8 1.6-4.1l1.9-1h.6c4 3.7 4 3.7 8.1-.2l2.9 1.2 2.6 1.5L59 7.2a2.8 2.8 0 0 0 3 1.9c2.6.2 3 .8 3 3.4s-.3 3.2-2.7 3.6a8.6 8.6 0 0 0-2.3.5c-.4.2-.7.7-1.2 1.2l2.4 4.7-5.6 2.8-3.5-4.8-4.9 4.8-4.2-2.9 1.3-6.3H39zm13.7-7c-1.6-.1-3.6 1.8-3.7 3.7s-.6 2.7.8 3.6a10.1 10.1 0 0 0 3.3 1.6c1.4.3 3.9-2.7 3.9-4.3s-2.3-4.4-4.3-4.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 65px;
        height: 60px;
      }
    }

    &--real-advice {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 59.9 47'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1' fill='%231b75b3'%3E%3Cpath d='M43 32.5c1.4-1.1 2.3-3 4.9-2.4 0 4.3.9 8.7-1.8 12.9-1.6 2.5-3.6 4-6.5 4h-31C4.1 47 0 42.3 0 38.4q.2-15 0-30C0 4.7 4.7 0 8.4 0h33.4c0 3.6-.3 4-3.2 4h-25c-3.5-.1-6.4.7-8.6 3.6v31.9a9.7 9.7 0 0 0 8 3.5c7.4.1 14.7.1 22 0a17.8 17.8 0 0 0 5.1-1c2.1-.7 2.6-2.6 2.9-4.5a41.7 41.7 0 0 0 0-5z'/%3E%3Cpath d='M53.8 16.6L31.3 39c-2.2 0-4.7.1-7.2 0s-3-.8-3-2.8-.1-5-.1-6.9L43.8 6.5zM28.1 34.7c2.7 1.3 3.9-.8 4.8-2.2s-.5-2.7-1.6-3.7l-2.2-2.2c-1.6 1.6-3.4 2.7-4.3 4.9l1.4.5h1.7zM46.9 3.6C50.4.1 50.4.1 53.6.1l6.3 6.3v3.7l-3.7 3.8c-4.3-2.8-8.4-7.3-9.3-10.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 60px;
        height: 47px;
        top: 0.5rem;
      }
    }

    &--journeying-together {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.7 68.8'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1' fill='%231b75b3'%3E%3Cpath d='M39.2 67.8c-2.1 1.3-3.3 1.3-5.1.1a4.3 4.3 0 0 1-5.6-.3 4.5 4.5 0 0 1-3.1 1.2 4.4 4.4 0 0 1-3.1-1.5 4.8 4.8 0 0 1-4.5 1.4 4.7 4.7 0 0 1-3.5-3.2 14 14 0 0 1-1 1.6A4.8 4.8 0 0 1 8 68.5a4.8 4.8 0 0 1-3.1-4.4c.1-1.8.2-3.5.2-5.3s.3-6.4.5-9.6c0-1.6.1-3.3.2-4.9v-.4l-1.4.2a4.2 4.2 0 0 1-4.4-4v-6.3c0-2.4 0-4.8.1-7.1a12.9 12.9 0 0 1 3.2-8.1 9.4 9.4 0 0 1 6.9-3.2h7.6a9.3 9.3 0 0 1 8.2 5.1c.4.8.8 1.3 1.7 1h.1c.7.2 1.1-.2 1.4-.8a10.4 10.4 0 0 1 9-5.3c2.1 0 4.1-.1 6.1.1a10.5 10.5 0 0 1 9.2 7.7 35.4 35.4 0 0 1 .8 4.5c.5 3.3.9 6.6 1.4 9.9a5.6 5.6 0 0 1-3.3 6 .4.4 0 0 0-.3.6 25.1 25.1 0 0 0 .4 2.7 2.4 2.4 0 0 1-2.5 2.9h-2.6a.4.4 0 0 0-.4.4l-1.5 13.7c-.1.6-.1 1.2-.2 1.8a3.6 3.6 0 0 1-5.8 2.3zM24.4 22.5a8.3 8.3 0 0 1-.7-1.3 7 7 0 0 0-6-3.4c-2.4-.1-4.9 0-7.3 0a6.5 6.5 0 0 0-4.8 1.9 11.1 11.1 0 0 0-3.2 7.2c-.1 1.6 0 3.3 0 4.9v8.1a1.8 1.8 0 0 0 1.9 1.9 1.9 1.9 0 0 0 1.6-1.9V25.8a1.2 1.2 0 1 1 2.4 0c0 6 0 12-.2 18.1 0 4.3-.3 8.5-.5 12.8l-.3 7.4a2.3 2.3 0 0 0 2.3 2.3 2.3 2.3 0 0 0 2.4-2.3l.6-10.9c.1-3 .3-6 .4-9 .1-.8.6-1.3 1.3-1.2a1.1 1.1 0 0 1 1.1 1.2c.1 1.1.1 2.2.2 3.4l.6 12.5.3 4.2a1.8 1.8 0 0 0 1.1 1.7 2.1 2.1 0 0 0 2.4.1 2.7 2.7 0 0 0 1.4-2.3v-9.1a.5.5 0 0 0-.3-.5 3.3 3.3 0 0 1-2.1-3.1c0-2.9-.1-5.8 0-8.8a8 8 0 0 1 6.7-7.7 28.2 28.2 0 0 1 4.1-.2 8.2 8.2 0 0 1 8.1 7.5c.1 1.7.1 3.4.1 5.1v.4h12.1v-.3c-.3-1.8-.5-3.6-.7-5.3-.8-5.6-1.5-11.2-2.3-16.7a1.2 1.2 0 0 1 1-1.5c.7-.1 1.2.4 1.4 1.2.6 4.8 1.3 9.7 1.9 14.5l.3 2 .3-.2a3.3 3.3 0 0 0 1.3-3.3L51.5 25a8.3 8.3 0 0 0-7.4-7.1 54.2 54.2 0 0 0-5.7-.1 8.3 8.3 0 0 0-5 1.6 8.5 8.5 0 0 0-2.4 2.9 6.4 6.4 0 1 1-6.6.2zM23.7 59v5.6a1.8 1.8 0 0 0 3.6 0v-10a1.2 1.2 0 0 1 1.2-1.2 1.3 1.3 0 0 1 1.2 1.2v10a1.7 1.7 0 0 0 2.2 1.7 1.7 1.7 0 0 0 1.3-1.7v-11a1.2 1.2 0 0 1 1.2-1.4 1.2 1.2 0 0 0 1.2-1.3v-8.3a5.9 5.9 0 0 0-4.6-5.7 24.1 24.1 0 0 0-3.8-.1 5.8 5.8 0 0 0-5.8 5.6c-.1 2.9 0 5.7 0 8.6a1.1 1.1 0 0 0 1.1 1.2c.9.1 1.2.5 1.2 1.4zm4.2-26.9a4.3 4.3 0 0 0 0-8.5 4.3 4.3 0 0 0-4.3 4.3 4.2 4.2 0 0 0 4.3 4.2zm12.4 17.7v12.5a24.4 24.4 0 0 0 .1 2.7 1.3 1.3 0 0 0 1.3 1.4 1.2 1.2 0 0 0 1.3-1.1c.5-4.9 1-9.7 1.6-14.5a3.8 3.8 0 0 1 .1-1zm-2.3 2a4.2 4.2 0 0 1-2.2 2.5c-.1 0-.2.3-.2.4v7.6c0 1 0 2-.1 3s.2 1 .8 1.1a1.5 1.5 0 0 0 1.7-1.6v-13zM40.3 14.2a7.1 7.1 0 0 1-7.1-7.1 7.2 7.2 0 0 1 14.3.1 7.1 7.1 0 0 1-7.2 7zm4.8-7.1a4.8 4.8 0 1 0-4.8 4.8 4.9 4.9 0 0 0 4.8-4.8zM21.4 7A7.2 7.2 0 1 1 14 0a7.2 7.2 0 0 1 7.4 7zm-11.9.1a4.8 4.8 0 1 0 9.5 0 4.8 4.8 0 0 0-9.5 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 56px;
        height: 67px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.313rem;
    font-weight: map-get($bodytype, regular);
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 3.6rem;
    }
  }

  &__desc {
    margin: 0;
    font-size: 0.875rem;
    font-weight: map-get($bodytype, light);
    max-width: 30em;
    margin: auto;
  }
}