mixin affiliates

  section.affiliates.section
    h2.affiliates__title.main-subtitle Affiliates
    .affiliates__inner
      ul.affiliates__list
        li.affiliates__item.affiliates__item--spaa
          img(src='img/spaa.png', alt='')
        li.affiliates__item.affiliates__item--tax
          img(src='img/tax.png', alt='')
        li.affiliates__item.affiliates__item--fpa
          img(src='img/fpa.png', alt='')