.affiliates {
  order: 6;

  @media (min-width: $screen-sm) {
    order: 7;
  }

  &__title {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 5rem;
    }
  }

  &__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    text-align: center;

    &--spaa {
      flex-basis: 100%;
      padding: 1rem;

      @media (min-width: $screen-sm) {
        flex-basis: auto;
        padding: 0;
        padding-right: 7rem;
      }
    }

    &--tax {
      flex-basis: 70%;
      padding-right: 1rem;

      @media (min-width: $screen-sm) {
        flex-basis: auto;
        padding: 0;
      }
    }

    &--fpa {
      flex-basis: 30%;

      @media (min-width: $screen-sm) {
        flex-basis: auto;
        padding-left: 3rem;
      }
    }
  }
}