.about-us {
  order: 5;
  text-transform: uppercase;
  background-color: $primary-color;
  color: $white;
  font-size: 2.25rem;
  line-height: 1.375rem;
  padding: 3.65rem 1rem;
  font-weight: map-get($bodytype, bold);
  text-align: center;
  display: block;

  @media (min-width: $screen-md) {
    order: 6;
  }
}