.promo-about {
  background-color: #efefef;
  position: relative;
  width: 100%;

  &__cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/promo-bg.png);
    min-height: 20rem;

    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    padding: 2rem 1rem;

    @media (min-width: $screen-xs) {
      padding: 4rem 2rem;
    }

    @media (min-width: $screen-md) {
      width: 50%;
      // min-height: 643px;
      height: 643px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    color: $primary-color;
  }

  &__desc {
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    font-weight: map-get($bodytype, light);
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}