mixin promo-about

  section.promo-about
    .promo-about__cover
    .promo-about__inner
      .promo-about__content
        h1.promo-about__title.main-subtitle About design financial
        p.promo-about__desc.
          We are a team of dedicated financial planners and Self Managed Super Fund Specialists who work closely with our clients with the sole purpose of helping them achieve their financial goals. We are hands-on, experienced and local - let’s talk about your financial future.