.financial-journey {
  order: 3;

  &__title {
    color: $primary-color;
  }

  &__inner {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 417px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: map-get($bodytype, light);
  }

  &__list {

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__tabs-item {
    position: relative;
    text-align: center;

    @media (min-width: $screen-md) {
      width: 210px;
      flex-basis: auto;
    }

    @media (min-width: $screen-lg) {
      width: 270px;
    }

    &:not(:last-child) {
      margin-bottom: 3.25rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }

      &::after {
        position: absolute;
        content: '';
        top: calc(100% + 11px);
        left: 50%;
        transform: translate3d(-50%,0,0);
        width: 22px;
        height: 11px;
        transform-origin: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.7 10.9'%3E%3Cg data-name='Layer 2'%3E%3Cpath fill='%231b75b3' d='M0 0h21.7L10.9 10.9 0 0z' data-name='Layer 1'/%3E%3C/g%3E%3C/svg%3E");

        @media (min-width: $screen-md) {
          transform:
            rotate3d(0,0,1,-90deg)
            translate3d(0,0,0);
          top: 50%;
          left: 100%;
        }

        @media (min-width: $screen-xl) {
          left: calc(100% + 0.25rem);
        }
      }
    }

    &--starting-out {

      @media (min-width: $screen-md) {

        & > a.active {

          .financial-journey__figure {
            background-color: #efefef;
          }
        }
      }
    }

    &--consolidation {

      @media (min-width: $screen-md) {

        & > a.active {

          .financial-journey__figure {
            background-color: #f8e6df;
          }
        }
      }
    }

    &--empty-nester {

      @media (min-width: $screen-md) {

        & > a.active {

          .financial-journey__figure {
            background-color: #e3fce9;
          }
        }
      }
    }

    &--retirement {

      @media (min-width: $screen-md) {

        & > a.active {

          .financial-journey__figure {
            background-color: #ffffd9;
          }
        }
      }
    }
  }

  &__link {
    display: block;
    color: $primary-color;
    max-width: 270px;
    margin: auto;
    border: 2px solid $primary-color;
    padding: 0.5rem;


  }

  &__figure {
    // border: 2px solid $primary-color;
    min-height: 255px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

  &__caption {
    text-transform: uppercase;
    font-size: 1.313rem;
    letter-spacing: 0.01em;
    line-height: 1em;
    flex-grow: 0;
  }

  &__cover {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal-content {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;

    h3 {
      font-size: 1.125rem;
      font-weight: map-get($bodytype, bold);
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }

    p {
      font-weight: map-get($bodytype, light);
      font-size: 0.875rem;
    }
  }

  &__content {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__tab-content {
    border: 2px solid $primary-color;
    padding: 0.6rem;
    margin-top: 2rem;
    position: relative;

    &--starting-out {

      .financial-journey__tab-content-inner {
        background-color: #efefef;
      }
    }

    &--consolidation {

      .financial-journey__tab-content-inner {
        background-color: #f8e6df;
      }
    }

    &--empty-nester {

      .financial-journey__tab-content-inner {
        background-color: #e3fce9;
      }
    }

    &--retirement {

      .financial-journey__tab-content-inner {
        background-color: #ffffd9;
      }
    }
  }

  &__tab-content-inner {
    padding: 1rem 2rem;
    column-count: 4;

    @media (min-width: $screen-lg) {
      height: 208px;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: map-get($bodytype, bold);
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }

    p {
      font-weight: map-get($bodytype, light);
      font-size: 0.875rem;
    }
  }

  &__additional-info {
    font-weight: map-get($bodytype, bold);
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $primary-color;
    padding: 3rem 1rem;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (min-width: $screen-xs) {
      padding: 3rem 2rem;
    }
  }
}