mixin financial-journey

  section.financial-journey.section
    h2.financial-journey__title.main-subtitle Your financial journey
    .financial-journey__inner
      .financial-journey__desc
        p.
          With every new stage of life comes new financial priorities.
        p.
          Wherever you are on this journey, see how we can provide the right advice and support to help you plan for right now – and for your future
      .financial-journey__tabs
        ul.financial-journey__list
          li.financial-journey__tabs-item.financial-journey__tabs-item--starting-out
            a.financial-journey__link.active(data-modal='#starting-out', href='#taba')
              figure.financial-journey__figure
                figcaption.financial-journey__caption Starting Out
                .financial-journey__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 77.7 80.7', width='78px', height='81px')
                    g
                      circle(cx='20.6', cy='15.1', r='15.1', fill='#1b75b3')
                      circle(cx='53.7', cy='15.1', r='15.1', fill='#1b75b3')
                      path(fill='#1b75b3', d='M33.3 30.2l-12.9 15-1.8 35.5h7.8l6.9-25.3 5.3 6.6 6.2-1.1-11.5-30.7z')
                      path(fill='#1b75b3', d='M7.4 30.2l12.9 15 1.8 35.5h-7.8L8.2 52.9l-2.6 9.6-5.6-.9 7.4-31.4zM46.7 30.2l7.3 3.7v46.8h-4l-3-9H29.6l14.8-19.6.9-11.2 1.2 8.7 1.6 8.2-7.9 5.2-5.7-16 12.2-16.8zM61 30.2l-7 3.7v46.8h3.4l3-9h17.3L62.9 52.1 62 40.9l-2.8 6.7-4.4 8.8 6.2 3.3 11.3-15.4L61 30.2z')
                      path(fill='#efefef', d='M38.6 57l12.3-11.4 5.8 8.8L44 58.8 38.6 57z')
                      circle(cx='59.7', cy='44.8', r='6', fill='#efefef')

          li.financial-journey__tabs-item.financial-journey__tabs-item--consolidation
            a.financial-journey__link(data-modal='#consolidation', href='#tabb')
              figure.financial-journey__figure
                figcaption.financial-journey__caption Consolidation
                .financial-journey__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.1 149.2', width='181px', height='150px')
                    path(fill='#1b75b3', d='M130.5 72.7l7 5.5v45h-3.6l-3-9h-17.3l14.8-19.6.9-11.2-13 19-5.5-2.6 19.7-27.1zM144.7 72.7l-7.2 5.5v45h3.8l3-9h17.4l-14.8-19.6-1-11.2 12.6 19.4 5.5-2.6-19.3-27.5zM96.8 96.7l3.7 2.9v23.6h-1.9l-1.5-5H88l7.8-10.1.4-5.8-6.8 9.9-2.9-1.3 10.3-14.2z')
                    path(fill='#1b75b3', d='M104.2 96.7l-3.7 2.9v23.6h2l1.6-5h9l-7.7-10.1-.5-5.8 10.3 2.4 1.1-2.3-12.1-5.7z')
                    circle(cx='41.8', cy='57.6', r='15.1', fill='#1b75b3')
                    circle(cx='77.1', cy='88.2', r='6.9', fill='#1b75b3')
                    circle(cx='100.7', cy='88.8', r='6.9', fill='#1b75b3')
                    circle(cx='137.6', cy='57.6', r='15.1', fill='#1b75b3')
                    path(fill='#1b75b3', d='M28.6 72.7l12.8 15 1.9 35.5h-7.9l-6.1-27.8-2.6 9.6-5.6-.9 7.5-31.4z')
                    path(fill='#1b75b3', d='M54.3 72.7l-12.8 15-1.9 35.5h7.9l6.1-27.8 2.6 9.6 5.6-.9-7.5-31.4z')
                    path(fill='#1b75b3', d='M69.4 95.1l7.2 4.6 1 23.5h-4.4l-4.7-21.5-10 2.2v-2.6l10.9-6.2z')
                    path(fill='#1b75b3', d='M83.7 95.1l-7.1 4.6-1.1 23.5h4.4l4.1-18.5 2.6 6.2 2.8 1.2-5.7-17z')
                    path(d='M176.8 42.3l-83.3-41a7.2 7.2 0 0 0-3.2-.8 7.3 7.3 0 0 0-3.3.8l-82.5 41a7.1 7.1 0 0 0-3.8 8 7.1 7.1 0 0 0 7.2 5.4H8v84.7c0 4 3.2 8.3 7.2 8.3h152.2c4 0 6.6-4.3 6.6-8.3V56.1c4-.5 5.7-2.6 6.4-5.6s-.5-6.6-3.6-8.2z', fill='none', stroke='#1b75b3', stroke-miterlimit='10')

          li.financial-journey__tabs-item.financial-journey__tabs-item--empty-nester
            a.financial-journey__link(data-modal='#empty-nester', href='#tabc')
              figure.financial-journey__figure
                figcaption.financial-journey__caption Empty nester
                .financial-journey__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181.1 149.2', width='181px', height='150px')
                    path(fill='#1b75b3', d='M104.1 72.7l7.4 5.5v45h-4.3l-3-9H86.9l14.8-19.6.9-11.2-13 19-5.4-2.6 19.9-27.1zM118.3 72.7l-6.8 5.5v45h3.1l3.1-9H135l-14.8-19.6-.9-11.2 12.6 19.4 5.6-2.6-19.2-27.5z')
                    circle(cx='68.7', cy='57.6', r='15.1', fill='#1b75b3')
                    circle(cx='110.9', cy='57.6', r='15.1', fill='#1b75b3')
                    path(fill='#1b75b3', d='M55.5 72.7l12.8 15 1.9 35.5h-7.9l-6.1-27.8-2.6 9.6-5.6-.9 7.5-31.4z')
                    path(fill='#1b75b3', d='M81.2 72.7l-12.8 15-1.9 35.5h7.9l6.1-27.8 2.6 9.6 5.6-.9-7.5-31.4z')
                    path(d='M176.8 42.3l-83.3-41a7.2 7.2 0 0 0-3.2-.8 7.3 7.3 0 0 0-3.3.8l-82.5 41a7.1 7.1 0 0 0-3.8 8 7.1 7.1 0 0 0 7.2 5.4H8v84.7c0 4 3.2 8.3 7.2 8.3h152.2c4 0 6.6-4.3 6.6-8.3V56.1c4-.5 5.7-2.6 6.4-5.6s-.5-6.6-3.6-8.2z', fill='none', stroke='#1b75b3', stroke-miterlimit='10')

          li.financial-journey__tabs-item.financial-journey__tabs-item--retirement
            a.financial-journey__link(data-modal='#retirement', href='#tabd')
              figure.financial-journey__figure
                figcaption.financial-journey__caption Retirement
                .financial-journey__cover
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 63.7 80.7', width='64px', height='81px')
                    circle(cx='24.5', cy='15.1', r='15.1', fill='#1b75b3')
                    path(fill='#1b75b3', d='M11.3 30.2l12.8 15L26 80.7h-7.9L12 52.9l-2.6 9.6-5.6-.9 7.5-31.4z')
                    path(fill='#1b75b3', d='M37 30.2l-12.8 15-1.9 35.5h7.9l6.1-27.8 2.6 9.6 5.5-.9L37 30.2zM10.2 76.7H2.9L0 66h13.1l-2.9 10.7z')
                    path(d='M6.5 61.8a3.7 3.7 0 1 0 3.7 3.7 3.7 3.7 0 0 0-3.7-3.7zm0 6.6a2.9 2.9 0 0 1-2.8-2.9 2.8 2.8 0 0 1 2.8-2.8 2.8 2.8 0 0 1 2.9 2.8 2.9 2.9 0 0 1-2.9 2.9zM38.9 62.5L62.7 3.2 40.2 63.6l-2.9 7.8-1.8-.7 3.4-8.2z', fill='#1b75b3')
                    circle(cx='44.4', cy='57.3', r='3.3', fill='#1b75b3')
                    path(d='M62.7 4.5s2 8.1 0 12.3-6.8 4.8-6.8 4.8 3.1 6 1.6 10.3-7.7 6-7.7 6 3.2 5.6 1.3 10.7-7.3 5.4-7.3 5.4', fill='none', stroke='#1b75b3', stroke-miterlimit='10', stroke-width='.25')

      .financial-journey__content(data-tabs-content='')
        #taba.financial-journey__tab.active
          .financial-journey__tab-content.financial-journey__tab-content--starting-out
            .financial-journey__tab-content-inner
              h3.
                Are you looking to buy your first home and taking those first steps to financial independence?
              p.
                Your 20’s and 30’s are the ideal time to design a financial plan so you are prepared for the rest of your life journey.
              p.
                We’ll help you put effective, practical financial strategies in place to grow your wealth, buy your first home, manage your debts, choose wise investments and protect your income.
              p.
                Book in for your free consult with our financial planners to find out how we can help you grow your wealth.
        #tabb.financial-journey__tab
          .financial-journey__tab-content.financial-journey__tab-content--consolidation
            .financial-journey__tab-content-inner
              h3.
                You’ve established your career, begun a family and want to create more security in your finances.
              p.
                At this stage of life, balancing growing childrens expenses and debt repayments can often cause stress and limit your family's financial security - making it hard to maintain your ideal lifestyle.
              p.
                We will work with you to design a smart, strategic financial plan, for everything from an investment portfolio for you or your children, superannuation optimisation and strategies for life and income protection, to ensuring your debts are being efficiently managed. Protect your family and enjoy greater financial security.
              p.
                Talk to our financial planners about your goals for your family's future.
        #tabc.financial-journey__tab
          .financial-journey__tab-content.financial-journey__tab-content--empty-nester
            .financial-journey__tab-content-inner
              h3.
                The children have flown the coop and now you can look ahead to preparing for a well-deserved retirement.
              p.
                This can often be a time of concern; have we saved enough? Will we pay off the mortgage in time?
              p.
                Let us help you transition to retirement with expert financial advice; such as utlising legal and logical strategies designed to boost your super, reduce your tax and ultimately build your net wealth in preparation for retirement. Be confident you will be in the best position for a comfortable retirement - talk to our financial planners today.
        #tabd.financial-journey__tab
          .financial-journey__tab-content.financial-journey__tab-content--retirement
            .financial-journey__tab-content-inner
              h3.
                The golden years of retirement have arrived - are you prepared?
              p.
                Now that the working boots have been hung up for good, it’s not too late to assess how to best manage your savings for a comfortable retirement.
              p.
                Our aim is to help manage your hard-earned retirement savings through careful investment planning and spending strategies to limit the risk of outliving your funds. We will also work with you to develop an appropriate estate plan to protect your legacy for future generations. You deserve to enjoy your retirement without financial stress - talk to our trusted team of financial planners today.

      .financial-journey__additional-info
        p.
          Start achieving your financial goals - book in your free consult with one of our financial planners today.

      .financial-journey__modals
        #starting-out.modal.financial-journey__modal(data-modal-window='')
          a.close(data-modal-close='', href='#') x
          .financial-journey__modal-content
            h3.
              Are you looking to buy your first home and taking those first steps to financial independence?
            p.
              Your 20’s and 30’s are the ideal time to design a financial plan so you are prepared for the rest of your life journey.
            p.
              We’ll help you put effective, practical financial strategies in place to grow your wealth, buy your first home, manage your debts, choose wise investments and protect your income.
            p.
              Book in for your free consult with our financial planners to find out how we can help you grow your wealth.
            button(data-modal-close='') Close

        #consolidation.modal.financial-journey__modal(data-modal-window='')
          a.close(data-modal-close='', href='#') x
          .financial-journey__modal-content
            h3.
              You’ve established your career, begun a family and want to create more security in your finances.
            p.
              At this stage of life, balancing growing childrens expenses and debt repayments can often cause stress and limit your family's financial security - making it hard to maintain your ideal lifestyle.
            p.
              We will work with you to design a smart, strategic financial plan, for everything from an investment portfolio for you or your children, superannuation optimisation and strategies for life and income protection, to ensuring your debts are being efficiently managed. Protect your family and enjoy greater financial security.
            p.
              Talk to our financial planners about your goals for your family's future.
            button(data-modal-close='') Close

        #empty-nester.modal.financial-journey__modal(data-modal-window='')
          a.close(data-modal-close='', href='#') x
          .financial-journey__modal-content
            h3.
              The children have flown the coop and now you can look ahead to preparing for a well-deserved retirement.
            p.
              This can often be a time of concern; have we saved enough? Will we pay off the mortgage in time?
            p.
              Let us help you transition to retirement with expert financial advice; such as utlising legal and logical strategies designed to boost your super, reduce your tax and ultimately build your net wealth in preparation for retirement. Be confident you will be in the best position for a comfortable retirement - talk to our financial planners today.
            button(data-modal-close='') Close

        #retirement.modal.financial-journey__modal(data-modal-window='')
          a.close(data-modal-close='', href='#') x
          .financial-journey__modal-content
            h3.
              The golden years of retirement have arrived - are you prepared?
            p.
              Now that the working boots have been hung up for good, it’s not too late to assess how to best manage your savings for a comfortable retirement.
            p.
              Our aim is to help manage your hard-earned retirement savings through careful investment planning and spending strategies to limit the risk of outliving your funds. We will also work with you to develop an appropriate estate plan to protect your legacy for future generations. You deserve to enjoy your retirement without financial stress - talk to our trusted team of financial planners today.
            button(data-modal-close='') Close
