extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header

block content
  +promo
  +briefly
  +financial-journey
  +contact-us
  +financial-strategies
  +about-us
  +affiliates
  .contacts
    .contacts__inner
      .contacts__map
        +map
      .contacts__info
        ul.contacts__list
          li.contacts__item
            h3.contacts__subtitle Address
            address.contacts__address
              | Suite C14, Level 1
              br
              | 1 The Esplanade
              br
              | Mt Pleasant WA 6153
          li.contacts__item
            h3.contacts__subtitle Phone
            a(href='tel:') 08 9364 8544
          li.contacts__item
            h3.contacts__subtitle E-mail
            a(href='mailto:admin@designfinancial.com.au') admin@designfinancial.com.au

block footer
  +page-footer

block append page-bottom
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA4IOFqjCdIPkWfswrQ7L75WPfRz1MRzlw&signed_in=true&callback=initMap')
  script.
    // Map init
    function initMap() {

      // Find the map block
      var ourMap = document.getElementById('map');

      // Get coordinates
      var myLatLng = {
        lat: -32.012743,
        lng: 115.85029
      };

      // Create map object
      var map = new google.maps.Map(ourMap, {
        zoom: 16,
        center: myLatLng,
        disableDefaultUI: true
      });

      // setMapMarkers(map);
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
      });
    }