@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-300-normal.woff2') format('woff2'),
       url('../fonts/opensans-300-normal.woff') format('woff'),
       url('../fonts/opensans-300-normal.ttf') format('truetype');;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-400-normal.woff2') format('woff2'),
       url('../fonts/opensans-400-normal.woff') format('woff'),
       url('../fonts/opensans-400-normal.ttf') format('truetype');;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-700-normal.woff2') format('woff2'),
       url('../fonts/opensans-700-normal.woff') format('woff'),
       url('../fonts/opensans-700-normal.ttf') format('truetype');;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}